<input class = "form-control" placeholder = 'Строка для шифрования' ng-model="strings.str">
<input class = "form-control" placeholder = 'Ключ для шифрования' ng-model="strings.key">
<input class = "form-control" placeholder = 'Зашифрованная строка' ng-model="strings.encode" >
<input class = "form-control" placeholder="Расшифрованная строка" ng-model="strings.decode">
<button class = "btn btn-primary" ng-click = "encode()">Зашифровать</button>
<button class = "btn btn-danger" ng-click = "decode()">Дешифровать</button>
        <select id = "hard">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>