<input type="file" id="file" name="file" enctype="multipart/form-data" on-read-file="showContent($fileContent)"/>
<input class = "form-control" ng-module = "strings.key" placeholder="Ключ">
<textarea class = "form-control" placeholder = 'Исходный текст' ng-model="strings.input" ></textarea>
<textarea class = "form-control" placeholder = 'Зашифрованная строка' ng-model="strings.encode" ></textarea>
<button class = "btn btn-danger" ng-click = "crypt()">ENCRYPT</button>
