<input class = "form-control" placeholder = 'Строка для шифрования' ng-model="strings.str">
<input class = "form-control" placeholder = 'Ключ для шифрования' ng-model="strings.key">
<input class = "form-control" placeholder = 'Зашифрованная строка' ng-model="strings.encode" >
<input class = "form-control" placeholder="Проверка" ng-model="strings.check">
<button class = "btn btn-primary" ng-click = "crypto()">Зашифровать</button>
<button class = "btn btn-primary" ng-click = "check()">Проверка</button>
